# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/Admin/dist
/Admin/tmp
/Admin/out-tsc

# dependencies
/Admin/node_modules

# profiling files
/Admin/chrome-profiler-events.json
/Admin/speed-measure-plugin.json

# IDEs and editors
/Admin/.idea
/Admin/.project
/Admin/.classpath
/Admin/.c9/
/Admin/*.launch
/Admin/.settings/
/Admin/*.sublime-workspace

# IDE - VSCode
/Admin/.vscode/*
/Admin/!.vscode/settings.json
/Admin/!.vscode/tasks.json
/Admin/!.vscode/launch.json
/Admin/!.vscode/extensions.json

# misc
/Admin/.sass-cache
/Admin/connect.lock
/Admin/coverage
/Admin/libpeerconnection.log
/Admin/npm-debug.log
/Admin/yarn-error.log
/Admin/testem.log
/Admin/typings

# System Files
/Admin/.DS_Store
/Admin/Thumbs.db


# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/Server/dist
/Server/tmp
/Server/out-tsc

# dependencies
/Server/node_modules

# profiling files
/Server/chrome-profiler-events.json
/Server/speed-measure-plugin.json

# IDEs and editors
/Server/.idea
/Server/.project
/Server/.classpath
/Server/.c9/
/Server/*.launch
/Server/.settings/
/Server/*.sublime-workspace

# IDE - VSCode
/Server/.vscode/*
/Server/!.vscode/settings.json
/Server/!.vscode/tasks.json
/Server/!.vscode/launch.json
/Server/!.vscode/extensions.json

# misc
/Server/.sass-cache
/Server/connect.lock
/Server/coverage
/Server/libpeerconnection.log
/Server/npm-debug.log
/Server/yarn-error.log
/Server/testem.log
/Server/typings

# System Files
/Server/.DS_Store
/Server/Thumbs.db

# Uploaded images
/Server/uploadedImages

