<div class="blog-content-main">
  <div>
    <span>
      <a class="tagHead">Tag:</a>
      <form class="tagInput">
        <mat-form-field>
          <input matInput placeholder="Enter Tag" />
        </mat-form-field>
      </form>
    </span>
  </div>
  <div>
    <span
      ><a class="titleHead">Title:</a>
      <form class="titleInput">
        <mat-form-field>
          <textarea matInput placeholder="Enter Title"></textarea>
        </mat-form-field>
      </form>
    </span>
  </div>
  <div>
    <span
      ><a class="contentHead">Content:</a>
      <form class="contentInput">
        <mat-form-field appearance="outline">
          <textarea
            class="contentTextarea"
            matInput
            placeholder="Enter Content"
          ></textarea>
        </mat-form-field>
      </form>
    </span>
  </div>
  <div>
    <span class="buttonsStyle">
      <button mat-button>Edit</button> <button mat-button>Save</button>
      <button mat-button>Submit</button>
    </span>
  </div>
</div>
