<div>
  <div>
    <span>
      Tag:
      <form>
        <mat-form-field>
          <input matInput placeholder="Enter Tag" />
        </mat-form-field>
      </form>
    </span>
  </div>
  <div>
    <span
      >Title:
      <form>
        <mat-form-field>
          <textarea matInput placeholder="Enter Title"></textarea>
        </mat-form-field>
      </form>
    </span>
  </div>
  <div>
    <span
      >Content:
      <form>
        <mat-form-field appearance="outline">
          <textarea
            class="contentTextarea"
            matInput
            placeholder="Enter Content"
          ></textarea>
        </mat-form-field>
      </form>
    </span>
  </div>
  <div>
    <span>
      <button mat-button>Edit</button> <button mat-button>Save</button>
      <button mat-button>Submit</button>
    </span>
  </div>
</div>
