<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="toggleMenu(1)"
        >Options Basics
        <mat-icon *ngIf="!showMenuBasics">chevron_right</mat-icon>
        <mat-icon *ngIf="showMenuBasics">expand_more</mat-icon>
      </a>
      <mat-nav-list class="sidenav-submenu" *ngIf="showMenuBasics">
        <a mat-list-item (click)="renderOptionBasics(1)">Options Basics1</a>
        <a mat-list-item (click)="renderOptionBasics(2)">Options Basics2</a>
        <button mat-button>Add New</button>
      </mat-nav-list>
      <a mat-list-item (click)="toggleMenu(2)"
        >My Strategy
        <mat-icon *ngIf="!showMenuStrategy">chevron_right</mat-icon>
        <mat-icon *ngIf="showMenuStrategy">expand_more</mat-icon>
      </a>
      <mat-nav-list class="sidenav-submenu" *ngIf="showMenuStrategy">
        <a mat-list-item (click)="renderMyStatergy(1)">My Strategy1</a>
        <a mat-list-item (click)="renderMyStatergy(2)">My Strategy2</a>
        <button mat-button>Add New</button>
      </mat-nav-list>
      <a mat-list-item (click)="toggleMenu(3)"
        >Trade History
        <mat-icon *ngIf="!showMenuTrades">chevron_right</mat-icon>
        <mat-icon *ngIf="showMenuTrades">expand_more</mat-icon>
      </a>
      <mat-nav-list class="sidenav-submenu" *ngIf="showMenuTrades">
        <a mat-list-item>Trade History1</a>
        <a mat-list-item>Trade History2</a>
        <button mat-button>Add New</button>
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolBar" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>OptionsBlog-Admin</span>
    </mat-toolbar>
    <app-blog-content
      *ngIf="renderOptionBasics1"
      parentOption="1"
      childOption="1"
    ></app-blog-content>
    <app-blog-content
      *ngIf="renderOptionBasics2"
      parentOption="1"
      childOption="2"
    ></app-blog-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Add Content Here -->
